body,
ul,
li,
h2,
h3,
h4,
p,
button {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

button {
  border: none;
  border-style: none;
}

input {
  outline: none;
}

@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/../fonts/TTHoves-Bold.eot");
  src: local("TT Hoves Bold"), local("../fonts/TTHoves-Bold"), url("../fonts/TTHoves-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Regular.eot");
  src: local("TT Hoves Regular"), local("../fonts/TTHoves-Regular"), url("../fonts/TTHoves-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Light.eot");
  src: local("TT Hoves Light"), local("../fonts/TTHoves-Light"), url("../fonts/TTHoves-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-Light.woff2") format("woff2"), url("../fonts/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "TT Hoves";
  src: url("../fonts/TTHoves-Medium.eot");
  src: local("TT Hoves Medium"), local("../fonts/TTHoves-Medium"), url("../fonts/TTHoves-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "TT Hoves";
}

.light {
  background-color: #ffffff;
}

.dark {
  background-color: #333333;
}

.grey {
  background-color: #f3f3f3;
}

.c-black {
  color: #333333;
}

.c-darkGrey {
  color: #bdbdbd;
}

.c-white {
  color: #ffffff;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  min-height: 100vh;
  padding-top: 10vh;
}

.title {
  font-size: 4rem;
  font-weight: 300;
}

.image {
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}

.header__logo {
  width: 40%;
}
.header__logo figure {
  width: auto;
  height: 100%;
}

.header,
.header__list {
  display: flex;
  justify-content: "start";
  align-items: center;
}

.header {
  min-height: 8vh;
  font-family: "TT Hoves";
  background-color: rgba(255, 255, 255, 0.5019607843);
}

.header__list {
  width: 60%;
  gap: 1.5rem;
}
.header__list a {
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.nav-item {
  padding: 0.2rem;
  position: relative;
}
.nav-item::before, .nav-item::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2c2c2c;
  transition: width 200ms linear;
}
.nav-item::after {
  bottom: -4px;
}
.nav-item::before {
  top: -4px;
}
.nav-item:hover::after, .nav-item:hover::before {
  width: 100%;
}

.home {
  padding-top: 12vh;
}

.wrapper {
  display: flex;
  justify-content: "center";
  align-items: center;
  margin-bottom: 120px;
}

h1 {
  text-transform: uppercase;
}
h1 span {
  font-weight: bold;
}

.home__title {
  width: 40%;
}

.arrowBtn {
  width: 53px;
  height: 53px;
  border: 1px solid #f2f2f2;
  cursor: pointer;
  transition: all 100ms linear;
}
.arrowBtn:hover {
  transform: translateY(-1px);
}
.arrowBtn:active {
  transform: translateY(2px);
  background-color: #f9f9f9;
}

.home__image {
  width: 60%;
  position: relative;
}
.home__image figure {
  display: block;
}

.button {
  display: flex;
  justify-content: "center";
  align-items: center;
  font-size: 0.8rem;
  font-weight: normal;
  gap: 0.5rem;
  padding: 24px 48px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 100ms linear;
}
.button:hover {
  box-shadow: 3px 3px 5px #bdbdbd;
  transform: translateY(-1px);
}
.button:active {
  transform: translateY(2px);
}

.homeBtn-wrap {
  margin-bottom: 90px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.homeBtn {
  position: absolute;
  left: 0;
  bottom: 3px;
}

.home__numbers {
  display: flex;
  justify-content: "start";
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}
.home__numbers li:nth-child(2)::after {
  content: "";
  display: inline-block;
  width: 3px;
  height: 40px;
  background-color: #f2f2f2;
  transform: rotate(45deg);
}

.about {
  display: flex;
  justify-content: "center";
  align-items: center;
  background-color: #fbfbfb;
  padding: 30px 70px 30px 100px;
  position: relative;
  margin-bottom: 90px;
}

.aboutInfo {
  padding: 0 10px;
  width: 35%;
}
.aboutInfo h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.aboutInfo p {
  font-size: 1rem;
  line-height: 25px;
  margin-bottom: 20px;
}

.aboutImage {
  width: 65%;
  display: flex;
  justify-content: "start";
  align-items: center;
}
.aboutImage figure {
  padding: 5px 15px;
}

.about-tasks {
  display: flex;
  justify-content: "center";
  align-items: center;
  gap: 2rem;
  margin-bottom: 120px;
}

.task-item {
  width: 50%;
  display: flex;
  justify-content: "center";
  align-items: center;
  gap: 1rem;
}
.task-item div {
  font-size: 200px;
  font-weight: 700;
  margin-right: 30px;
  color: #f2f2f2;
}
.task-item p {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 36px;
}

.projectsTitle {
  margin-bottom: 60px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-bottom: 30px;
}

.project:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.project:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row: 1;
}

.project:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 2;
}
.project:nth-child(3) img,
.project:nth-child(3) figure {
  width: 100%;
  height: auto;
}

.project:nth-child(4) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2;
}
.project:nth-child(4) figure {
  width: 100%;
  height: auto;
}

.project:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row: 2;
}
.project:nth-child(5) img,
.project:nth-child(5) figure {
  width: auto;
  height: 100%;
}

.project {
  overflow: hidden;
  max-height: 300px;
  position: relative;
}
.project:hover .subtitle {
  transform: translateX(0%);
}
.project .image {
  display: block;
  transition: transform 1000ms ease-in-out;
}
.project .image:hover {
  transform: scale(1.05);
}

.subtitle {
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform 1000ms ease-in-out;
}
.subtitle .button {
  padding-left: 0;
  cursor: pointer;
}

.allProjectBtn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.section:last-child {
  min-height: 80vh;
  border: 1px solid red;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  gap: 1rem;
  padding-top: 20px;
  margin-bottom: 20px;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.form {
  width: 40%;
  height: 100%;
  max-width: 650px;
}

.form__item {
  position: relative;
}
.form__item label {
  position: absolute;
  left: 20px;
  top: 14px;
}
.form__item span {
  color: red;
}
.form__item input,
.form__item textarea {
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 14px 20px;
  margin-bottom: 16px;
  resize: none;
  position: relative;
}
.form__item input:focus,
.form__item textarea:focus {
  border: 1px solid #333333;
}

.error {
  filter: drop-shadow(0px 2px 5px rgba(213, 13, 13, 0.5));
}

.hint {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 350px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 10px;
  color: red;
  padding: 3px;
  position: absolute;
  right: 20px;
  bottom: 0;
}

input[type=checkbox] {
  display: none;
}

.checkbox + label > span.checkflag {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #2c2c2c;
  border-radius: 2px;
  margin-right: 10px;
}

.checkbox > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=checkbox]:checked + label > span.checkflag {
  background: #f3f3f3;
  background-image: url(../image/svg/agreeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contactsImg {
  width: 60%;
  position: relative;
}
.contactsImg figure {
  display: block;
}

footer {
  background-color: #2c2c2c;
  min-height: 18vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}
.footer .list-item {
  padding: 8px;
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}
.footer .footer-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 9px;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  border-radius: 50%;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}
.icon:hover {
  box-shadow: 2px 2px 5px #f2f2f2;
  transform: translateY(-2px);
}
.icon:active {
  transform: translateY(2px);
}

.privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  color: rgba(200, 200, 200, 0.3137254902);
  border-top: 1px solid rgba(200, 200, 200, 0.3137254902);
}/*# sourceMappingURL=style.css.map */