// file reset default styles
@import "./resetstyles.scss";
// file with fonts settings
@import "./fonts.scss";
// file with mixins, variables and general styles
@import "./generalStyles.scss";

// ------------Header
header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
}
.header__logo {
  width: 40%;

  figure {
    @include widthHeight(auto, 100%);
  }
}
.header,
.header__list {
  @include flex("start");
}

.header {
  min-height: 8vh;
  font-family: $f-TTHoves;
  background-color: $c-whitetransperent;
}

.header__list {
  width: 60%;
  gap: 1.5rem;

  a {
    @include font(0.8rem, normal);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}

.nav-item {
  padding: 0.2rem;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $bg-black;
    transition: width 200ms linear;
  }
  &::after {
    bottom: -4px;
  }
  &::before {
    top: -4px;
  }

  &:hover::after,
  &:hover::before {
    width: 100%;
  }
}

.nav__burger {
  padding-right: 40px;
  cursor: pointer;
  z-index: 12;
}

// ------------Home section
.home {
  // min-height: 92vh;
  padding-top: 12vh;
}

.wrapper {
  @include flex("center");
  gap: 1rem;
  margin-bottom: 120px;
}

h1 {
  text-transform: uppercase;

  span {
    font-weight: bold;
  }
}
.home__title {
  width: 40%;
}

.arrowBtn {
  @include widthHeight(53px, 53px);
  border: 1px solid $c-light-grey;
  cursor: pointer;
  transition: all 100ms linear;

  &:first-child > img {
    transform: rotate(180deg);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(2px);
    background-color: $bg-white-grey;
  }
}

.home__image {
  width: 60%;
  position: relative;

  figure {
    display: block;
  }
}

.button {
  @include flex("center");
  @include font(0.8rem, normal);
  gap: 0.5rem;
  padding: 24px 48px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 100ms linear;

  &:hover {
    box-shadow: 3px 3px 5px $dark-grey;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
  }
}

.homeBtn-wrap {
  margin-bottom: 90px;
  @include flex(start);
  gap: 1rem;
}

.homeBtn {
  position: absolute;
  left: 0;
  bottom: 3px;
}

.home__numbers {
  @include flex("start");
  gap: 2rem;
  font-size: 1.5rem;

  li:nth-child(2)::after {
    content: "";
    display: inline-block;
    @include widthHeight(3px, 40px);
    background-color: $c-light-grey;
    transform: rotate(45deg);
  }
}

// ---------------Galery
.about {
  @include flex("center");

  background-color: $bg-light-grey;
  padding: 30px 70px 30px 100px;
  position: relative;
  margin-bottom: 90px;
}

.aboutInfo {
  padding: 0 10px;
  width: 35%;

  h2 {
    margin-bottom: 20px;
  }

  p {
    font-size: 1rem;
    line-height: 25px;
    margin-bottom: 20px;
    padding: 5px;
  }
}

.aboutImage {
  width: 65%;
  @include flex("start");

  figure {
    padding: 5px 15px;
  }
}

.about-tasks {
  @include flex("center");
  gap: 2rem;
}

.task-item {
  width: 50%;
  @include flex("center");
  gap: 1rem;

  div {
    @include font(200px, 700);
    margin-right: 30px;
    color: $c-light-grey;
  }

  p {
    @include font(1.4rem, normal);
    line-height: 36px;
  }
}

// ---------------Projects
.projectsTitle {
  margin-bottom: 60px;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  margin-bottom: 30px;
}

.project:first-child {
  @include grid(1, 3, 1);
}

.project:nth-child(2) {
  @include grid(3, -1, 1);
}

.project:nth-child(3) {
  @include grid(1, 1, 2);

  img,
  figure {
    @include widthHeight(100%, auto);
  }
}

.project:nth-child(4) {
  @include grid(2, 4, 2);

  figure {
    @include widthHeight(100%, auto);
  }
}

.project:nth-child(5) {
  @include grid(4, 4, 2);

  img,
  figure {
    @include widthHeight(auto, 100%);
  }
}

.project {
  overflow: hidden;
  max-height: 300px;

  position: relative;

  &:hover .subtitle {
    transform: translateX(0%);
  }

  .image {
    display: block;

    transition: transform 1000ms ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.subtitle {
  @include flex(center);
  flex-direction: column;
  align-items: start;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  padding: 2rem;
  transform: translateX(-100%);

  transition: transform 1000ms ease-in-out;

  h3 {
    font-weight: bold;
    padding-left: 0;
  }

  .button {
    padding-left: 0;
    cursor: pointer;
    position: relative;

    &:hover {
      padding-left: 1rem;
    }
  }
}

.allProjectBtn {
  @include flex(end);
  margin-bottom: 2rem;
}

// ------------------Contacts
.section:last-child {
  min-height: (80vh);
  border: 1px solid red;
}

.contacts {
  @include flex(center);
  align-items: start;
  gap: 1rem;
  padding-top: 20px;
  margin-bottom: 20px;
  min-height: fit-content;
}

.form {
  width: 40%;
  height: 100%;
  max-width: 650px;
}

.form__item {
  position: relative;

  input,
  textarea {
    border: none;
    width: 100%;
    font-size: 1rem;
    padding: 14px 20px;
    margin-bottom: 16px;
    resize: none;
    position: relative;
    transition: box-shadow 100ms linear;

    &:hover {
      box-shadow: 2px 2px 5px $dark-grey;
    }

    &:focus {
      border: 1px solid $c-black;
    }
  }

  input::placeholder,
  textarea::placeholder {
    font-family: $f-TTHoves;
    @include font(0.9rem, normal);
  }
}

.error {
  filter: drop-shadow(2px 2px 3px $red-shadow);
}

.hint {
  display: none;
  width: fit-content;
  max-width: 350px;
  height: fit-content;
  font-size: 10px;
  color: red;
  padding: 3px;
  position: absolute;
  right: 20px;
  bottom: 0;
}

input[type="checkbox"] {
  display: none;
}

.checkbox + label > span.checkflag {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid $dark-grey;
  border-radius: 2px;
  margin-right: 20px;
}

.agreeLabel {
  @include flex(start);
  margin-bottom: 10px;
}

input[type="checkbox"]:checked + label > span.checkflag {
  background: $bg-grey;
  background-image: url(../image/svg/agreeIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.contactsImg {
  width: 60%;
  position: relative;

  figure {
    display: block;
  }
}

// ---------------Footer
footer {
  background-color: $footer-bg;
  min-height: 18vh;
}

.footer {
  @include flex(space-between);
  align-items: start;

  .list-item {
    padding: 8px;
    @include font(0.9rem, 400);
    @include flex(start);
    gap: 0.5rem;
  }

  .footer-title {
    @include font(1rem, bold);
    margin-bottom: 9px;
  }
}

.footer__icons {
  @include flex(space-between);
  gap: 1.5rem;
}

.icon {
  border-radius: 50%;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

  &:hover {
    box-shadow: 2px 2px 5px $c-light-grey;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(2px);
  }
}
.privacy {
  @include flex(center);
  padding: 24px;
  color: $grey-transperent;
  border-top: 1px solid $grey-transperent;
}

// ==================MEDIA SCREEN====================
// ============ from 0 to 1050

@media screen and (max-width: 1050px) {
  .title {
    font-size: 2.8rem;
    text-align: center;
  }
  .header {
    position: relative;
    min-height: 3vh;
    @include flex(space-between);

    nav {
      width: 100%;
      height: fit-content;
      @include flex(end);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
    }
  }
  .header__logo {
    padding-left: 40px;
    padding-top: 10px;
  }

  .header__list {
    flex-direction: column;
    padding: 20px;
    font-size: 22px;
    width: 100%;
    // @include flex(end);
    background-color: $c-light-grey;
    transform: translateY(-100%);

    transition: transform 500ms ease-in-out;
  }

  .showNav {
    transform: translateY(0%);
  }

  // -------Home page
  .wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .home__image {
    width: 100%;
  }
  .home__title {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    .title {
      margin: 0;
      margin-bottom: 2rem;

      @include grid(1, -1, 1);
    }

    .homeBtn-wrap {
      @include grid(1, 1, 2);
      margin-bottom: 0;
    }

    .home__numbers {
      @include grid(2, 2, 2);
      justify-content: end;
    }
  }

  .footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  // ----------Galery
  .about {
    flex-direction: column-reverse;
    padding: 20px;
    gap: 1rem;
    margin-bottom: 40px;
  }

  .aboutInfo,
  .aboutImage {
    width: 100%;
  }
  .aboutImage {
    justify-content: center;
  }
  .about-tasks {
    flex-direction: column;
    align-items: center;
  }
  .task-item {
    width: 100%;

    div {
      @include flex(center);
      width: 20%;
      font-size: 5rem;
    }
    p {
      width: 80%;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  // --------Project
  .projects-wrapper {
    display: block;

    .project {
      max-height: 400px;
      margin: 0 auto;
      margin-bottom: 0.5rem;
    }
    .project:nth-child(5) img {
      width: 100%;
      height: auto;
    }
  }

  // -------Contacts
  .contacts {
    flex-direction: column;
  }
  .form {
    width: 100%;
    margin: 0 auto;
  }
  .contactsImg {
    display: none;
  }
}

// ================================from 1050px to max
@media screen and (min-width: 1050px) {
  .nav__burger {
    display: none;
  }
}
