// variables settings
$f-TTHoves: "TT Hoves";
$f-SFProDisplay: "SF Pro Display";
$c-black: #333333;
$bg-black: #2c2c2c;
$c-white: #ffffff;
$c-whitetransperent: #ffffff90;
$dark-grey: #bdbdbd;
$c-light-grey: #f2f2f2;
$bg-light-grey: #fbfbfb;
$bg-grey: #f3f3f3;
$bg-white-grey: #f9f9f9;
$footer-bg: #2c2c2c;
$grey-transperent: #c8c8c850;
$red-shadow: rgba(213, 13, 13, 0.5);

// mixins
@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin font($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
}

@mixin grid($gcs, $gce, $gr) {
  grid-column-start: $gcs;
  grid-column-end: $gce;
  grid-row: $gr;
}
@mixin widthHeight($w, $h) {
  width: $w;
  height: $h;
}

// // -----general styles settings
// body {
//   font-family: $f-TTHoves;
// }
// .light {
//   background-color: $c-white;
// }
// .dark {
//   background-color: $c-black;
// }
// .grey {
//   background-color: $bg-grey;
// }
// .c-black {
//   color: $c-black;
// }
// .c-darkGrey {
//   color: $dark-grey;
// }
// .c-white {
//   color: $c-white;
// }

// .container {
//   max-width: 1620px;
//   margin: 0 auto;
//   padding: 0 2rem;
// }
// .section {
//   min-height: 100vh;
//   padding-top: 10vh;
// }
// .title {
//   @include font(4rem, 300);
//   padding: 5px;
// }
// .image {
//   @include widthHeight(100%, auto);
// }
