// file reset default styles
@import "./resetstyles.scss";
// file with fonts settings
@import "./fonts.scss";
// file with mixins, variables and general styles
@import "./generalStyles.scss";

// general styles settings
body {
  font-family: $f-TTHoves;
}
.light {
  background-color: $c-white;
}
.dark {
  background-color: $c-black;
}
.grey {
  background-color: $bg-grey;
}
.c-black {
  color: $c-black;
}
.c-darkGrey {
  color: $dark-grey;
}
.c-white {
  color: $c-white;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 2rem;
}
.section {
  min-height: 100vh;
  padding-top: 10vh;
}
.title {
  @include font(4rem, 300);
  padding: 5px;
}
.image {
  @include widthHeight(100%, auto);
}

// import styles of all screens

// Header
@import "./header/header.scss";

// Home section
@import "./homeSection/homeSection.scss";

// Galery
@import "./galeryScreen/galeryScreen.scss";

// Projects
@import "./projectsScreen/projectsScreen.scss";

// Contacts
@import "./contactsScreen/contactsScreen.scss";

// Footer
@import "./footer/footer.scss";

// MEDIA SCREEN
// from 0 to 1050

@media screen and (max-width: 1050px) {
  .title {
    font-size: 2.8rem;
    text-align: center;
  }
}
